#c1bg {
    background-image: url("../media/eiffel2.jpg");
    height: 100vh;
    margin-bottom: calc(-1vh * var(--menu-height-total-vh));
    background-position: 0% 85%;
}

#c1 {
    width: fit-content;
    position: absolute;
    top: 2%;
    left: 50%;

    transform: translateX(-50%);
}

#c1>.content_title {
    width: 69vw;
    line-height: 1.2;
    font-size: 13vh;

    margin: 0px 0px 15vh 0px;
    padding: 0;
}

#c1>.content_body {
    width: 13vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}