#c3 {
    width: 100%;
}

#c3>.content_title {
    margin-top: 1vh;
    margin-bottom: 0px;
    height: fit-content;
    padding: 0px 15px 0px 15px;

}

#c3>.content_subtitle {
    font-size: 2em;
}

#c3>.content_body {
    height: 100%;
    width: 95vw;
    max-width: 1152px;
    margin-bottom: 5%;
    padding: 0px;

    background-image: url("../media/rock.jpg");
    background-position: 0% 90%;
    background-size: cover;
    border-radius: 100px;    
    
    position: relative;
}

#schedule {
    background-color: var(--color-light-tl);
    margin-left: 10%;
    height: 100%;
    min-width: 50%;
    max-width: 75%;

    position: absolute;
    right:0%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.schedule-item {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-style: italic;
    padding: 30px;
}

.schedule-time {
    min-width: 5%;
    text-align: right;
    padding-left: 5%;
    margin-right: 15px;
}

.schedule-line {
    flex-grow: 1;
    height: fit-content;
    min-width: 10vw;
    margin: 0px 10px 1vh 10px;
    border-color: var(--color-dark-tl);
    border: none none solid none;
}

.schedule-event {
    text-align: left;
    white-space: nowrap;
    width: 15vh;
}

#schedule>#attire {
    margin: 25px 0px 25px 0px;
    font-size: 0.75em;
    font-style: italic;
}