#c3bg {
    --c3--bg-height: 0;
    background-image: url(../media/rock.jpg);
}

#c3bg > #gradient {
    width: 100%;
    height: 20%;
}

#c3>.content_title {
    margin-top: 1vh;
    margin-bottom: 0px;
    height: fit-content;
    padding: 0px 15px 0px 15px;

}

#c3 {
    width: 100%;
}

#c3>.content_body {
    height: 100%;

    width: 100%;
    padding: 0px;
    position: relative;
}

#schedule {
    background-color: var(--color-light-tl);
    padding: 30px;

    position: absolute;
    margin-left: 10%;
    left:0%;
    right:10%;
}

.schedule-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-style: italic;
    padding: 30px;
}

.schedule-time {
    min-width: 5%;
    text-align: right;
    padding-left: 5%;
    margin-right: 15px;
}

.schedule-line {
    width: 65%;
    height: fit-content;
    margin: 0px 10px 10px 10px;
    color: var(--color-dark-tl);
}

.schedule-event {
    white-space: nowrap;
}

#schedule>#attire {
    margin-top: 50px;
    font-size: 0.75em;
    font-style: italic;
}