#c4 > .content_title {
    margin: 0px;
    max-height: 18%;
}

#gallery_container {
    height: 82%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery_selected {
    height: 80%;
}

#gallery_selected_img {
    object-fit: contain;

    max-width: 100vw;
    height: 100%;
}

#gallery_selector {
    max-width: 90vw;
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    overflow-x: scroll;
    scrollbar-width: thin;

    padding: 10px;
}

#gallery_selector > .gallery_thumbnail {
    object-fit: contain;

    padding-left: 10px;
    padding-right: 10px;

    height:100%;
}
