#gallery_wrapper {
    width: 960px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 215px;
    scrollbar-width: thin;
    margin-bottom: 20px;
    align-items: baseline;
    position: relative;
}

#c4 > #tba {
    font-family: var(--body-font);
    font-size: calc(1.5em + 0.35vw);
}