@font-face {
    font-family: "LambencyRegular";
    src: url("../fonts/lambency-font/LambencyRegular-eZLZe.ttf") format("truetype");
}

@font-face {
    font-family: "RosmatikaRegular";
    src: url("../fonts/rosmatika-font/RosmatikaRegular-BWA45.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("../fonts/playfair-display-font/PlayfairDisplayRegular-ywLOY.ttf") format("truetype");
}

@font-face {
    font-family: "Broisther";
    src: url("../fonts/broisther-font/Broisther-ow45d.ttf") format("truetype");
}

:root {
    --menu-items-per-row: 6;
}

@media (max-width: 960px) {
    :root {
        --menu-items-per-row: 2;
    }
}

:root {
    --animation-ms: 500ms;

    --hue-light: 255, 255, 255;
    --hue-dark: 0, 0, 0;
    --translucent: 0.67;

    --color-invite-orange: rgb(161, 98, 77);

    --color-light: rgb(var(--hue-light));
    --color-dark: rgb(var(--hue-dark));
    --color-light-tl: rgba(var(--hue-light), var(--translucent));
    --color-dark-tl: rgba(var(--hue-dark), var(--translucent));
    --color-txt: rgb(var(--hue-dark));

    --title-font: 'Broisther';
    --body-font: 'PlayfairDisplayRegular';

    --menu-items-total: 6;
    --menu-item-height-vh: 5;
    --menu-rows-total: calc(var(--menu-items-total) / var(--menu-items-per-row));
    --menu-padding-vh: 1;
    --menu-height-total-vh: calc((var(--menu-rows-total) * var(--menu-item-height-vh)) + 2 * var(--menu-padding-vh))
}

body {
    font-family: var(--body-font);
    height: 100vh;
}

.shaded {
    background-color: var(--color-light-tl);
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-bottom: 100%;
    transition-duration: var(--animation-ms);
    overflow-x: hidden;
    position: relative;
    overflow-y: scroll;
    height: 100%;
}

.content_bg {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px;
    margin: 0px;
    width: 100vw;

    position: relative;

    background-size: cover;
    background-position: center;
}

.content {
    max-width: 960px;
    width: 90vw;
    height: calc(1vh * (100 - var(--menu-height-total-vh)));
    color: var(--color-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content>.content_title {
    font-size: 9vh;
    text-align: center;
    width: fit-content;
    font-family: var(--title-font);
    padding: 15px;
}

.content_subtitle {
    font-size: 0.5em;
    text-align: center;
    font-style: italic;
    margin-top: 0.5vh;
    padding-top: 0px;
    font-family: var(--title-font);
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

.content>.content_title>.capital {
    font-size: 1em;
}

.content_body {
    font-size: 2.5vh;
    text-align: center;
    font-family: var(--body-font);
    padding: 10px 10px 10px 10px;
}

.content_body::first-letter {
    font-size: 1.0em;
}

iframe {
    width: 1000px;
    height: 300px;
}

iframe .flip-entries {
    display: flex;
}

a:link {
    text-decoration: none;
    color: var(--color-txt);
}

a:visited {
    text-decoration: none;
    color: var(--color-txt);
}

.border {
    outline-offset: -10px;
    outline: 5px double var(--color-dark);
}