@font-face {
    font-family: "PlayfairDisplaySemibold";
    src: url("../fonts/playfair-display-font/PlayfairDisplaySemibold-lg9nd.ttf") format("truetype");
}

.menu_anchor {
    position: absolute;
    top: calc(-1vh * var(--menu-height-total-vh));
}

#menu {
    position: sticky;
    width: 100%;

    top: 0vh;
    bottom: 0vh;
    z-index: 2;
    padding-top: calc(var(--menu-padding-vh) * 1vh);
    padding-bottom: calc(var(--menu-padding-vh) * 1vh);

    font-family: "PlayfairDisplaySemibold";
    font-size: 3vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: rgba(var(--hue-dark), calc(0.5 + var(--translucent)/2));
    backdrop-filter: blur(10px);
    outline: 5px double var(--color-light);
}

.menuItem {
    height: calc(var(--menu-item-height-vh) * 1vh);
    text-align: center;
    flex-grow: 1;
    flex-basis: calc((100 / var(--menu-items-per-row)) * 1%);
}

.menuItem>a {
    color: var(--color-light);
    vertical-align: middle;
    width: 95%;
    display: inline-block;
}

.menuItem>a:link {
    text-decoration: none;
}

.menuItem>a:visited {
    text-decoration: none;
}

.menuItem>a:hover {
    text-decoration: underline;
}